.mercury-active {
  border-bottom: 5px solid var(--mercury);
  opacity: 1;
}

.venus-active {
  border-bottom: 5px solid var(--venus);
  opacity: 1;
}

.earth-active {
  border-bottom: 5px solid var(--earth);
  opacity: 1;
}

.mars-active {
  border-bottom: 5px solid var(--mars);
  opacity: 1;
}

.jupiter-active {
  border-bottom: 5px solid var(--jupiter);
  opacity: 1;
}

.saturn-active {
  border-bottom: 5px solid var(--saturn);
  opacity: 1;
}

.uranus-active {
  border-bottom: 5px solid var(--uranus);
  opacity: 1;
}

.neptune-active {
  border-bottom: 5px solid var(--neptune);
  opacity: 1;
}

.menuTransition {
  opacity: 0;
  transform: translateX(20px);

  animation-name: fromRight;
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

.ImageTransition {
  opacity: 0;
  transform: translateY(50px) translateX(160px) rotate(20deg);

  animation-name: planetTransition;
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

.textTransition {
  transform: translateX(20px);

  opacity: 0;
  animation-name: fromRight;
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

.cardTransition {
  opacity: 0;
  transform: translateY(20px);

  animation-name: fromRight;
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

@media (min-width: 768px) {

  .main {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 30% 20%;
    width: 90%;
    margin: 1rem auto 0rem;
  }

  .mercury-active {
    border: none;
    background-color: var(--mercury)
  }

  .venus-active {
    border: none;
    background-color: var(--venus)
  }

  .earth-active {
    border: none;
    background-color: var(--earth)
  }

  .mars-active {
    border: none;
    background-color: var(--mars)
  }

  .jupiter-active {
    border: none;
    background-color: var(--jupiter)
  }

  .saturn-active {
    border: none;
    background-color: var(--saturn)
  }

  .uranus-active {
    border: none;
    background-color: var(--uranus)
  }

  .neptune-active {
    border: none;
    background-color: var(--neptune)
  }
}

@media (min-width: 1440px) {
  .main {
    height: 90vh;
    width: 80%;
    grid-template-columns: 2.2fr 1fr;
    grid-template-rows: 40% 40% 20%;
  }
}

@media (min-width: 1440px) {
  .main {
    width: 70%;
  }
}