.header {
  padding: 1rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: var(--defaultBorder);
}

a:-webkit-any-link {
  text-decoration: none;
  color: var(--white);
}

a .menu__li {
  list-style-type: none;
}

.modal__li {
  transform: translateX(200px);

  animation-name: fromRight;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

.hideModal {
  opacity: 1;
  animation-name: hideModal;
  animation-duration: .5s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

.modal__li:nth-of-type(1) {
  animation-duration: 0.2s;
}

.modal__li:nth-of-type(2) {
  animation-duration: 0.4s;
}

.modal__li:nth-of-type(3) {
  animation-duration: 0.6s;
}

.modal__li:nth-of-type(4) {
  animation-duration: 0.8s;
}

.modal__li:nth-of-type(5) {
  animation-duration: 1s;
}

.modal__li:nth-of-type(6) {
  animation-duration: 1.2s;
}

.modal__li:nth-of-type(7) {
  animation-duration: 1.4s;
}

.modal__li:nth-of-type(8) {
  animation-duration: 1.6s;
}

.header__logo {
  font-family: var(--antonio);
  font-weight: var(--regular);
  font-size: 1.75rem;
  line-height: 2.25rem;
  letter-spacing: -1px;
  color: var(--white);
  text-transform: uppercase;
}

.modal__icon {
  width: 1.5rem;
  opacity: 0.2;
  cursor: pointer;
}

.modal__ul {
  background-color: var(--darkBlue);
  width: 100%;
  min-height: 120vh;
  left: 0;
  top: 5rem;
  position: absolute;
  z-index: 99;
}

.modal__li {
  margin: 0 auto;
  width: 90%;
  font-family: var(--spartan);
  font-weight: var(--bold);
  font-size: 1rem;
  line-height: 1.563rem;
  color: var(--white);
  list-style-type: none;
  padding: 1.25rem 0;
  text-transform: uppercase;
  border-bottom: var(--defaultBorder);

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal__text {
  display: flex;
}

.modal__circle {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  margin-right: 1.5rem;
}

.modal__circle--mercury {
  background-color: #DEF4FC;
}

.modal__circle--venus {
  background-color: #F7CC7F;
}

.modal__circle--earth {
  background-color: #545BFE;
}

.modal__circle--mars {
  background-color: #FF6A45;
}

.modal__circle--jupiter {
  background-color: #ECAD7A;
}

.modal__circle--saturn {
  background-color: #FCCB6B;
}

.modal__circle--uranus {
  background-color: #65F0D5;
}

.modal__circle--neptune {
  background-color: #497EFA;
}

.modal__arrow {
  margin-right: .5rem;
}

.menu {
  display: none;
}

@media (min-width:768px) {
  .modal {
    display: none;
  }

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2.5rem;
  }

  .menu {
    display: flex;
    width: 90%;
  }

  .menu__nav {
    width: 100%;
  }

  .menu__ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu__link {
    font-family: var(--spartan);
    font-weight: var(--bold);
    font-size: .7rem;
    color: var(--white);
    cursor: pointer;
    text-decoration: none;
    list-style-type: none;
    border: none;
    border-top: 6px solid rgba(0, 0, 0, 0.1);
    background-color: transparent;
    list-style-type: none;
    text-transform: uppercase;
  }

}

@media (min-width:1440px) {
  .header {
    flex-direction: row;
    padding: 0 2rem;
    overflow: hidden;
  }

  .menu {
    width: 50%;
    min-width: 600px;
  }

  .menu__link {
    padding: 19px 0 1.5rem;
    z-index: 99;
    position: relative;
  }


  .menu__link .menu__li::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 5px;
    top: -5px;
    transition: transform 0.5s ease;
    transform: scale(0, 1);
  }

  .menu__link--mercury:hover  .menu__li::before {
    background-color: #DEF4FC;
    transform: scale(1, 1);
  }

  .menu__link--venus:hover .menu__li::before {
    background-color: #F7CC7F;
    transform: scale(1, 1);
  }

  .menu__link--earth:hover .menu__li::before {
    background-color: #545BFE;
    transform: scale(1, 1);
  }

  .menu__link--mars:hover .menu__li::before {
    background-color: #FF6A45;
    transform: scale(1, 1);
  }

  .menu__link--jupiter:hover .menu__li::before {
    background-color: #ECAD7A;
    transform: scale(1, 1);
  }

  .menu__link--saturn:hover .menu__li::before {
    background-color: #FCCB6B;
    transform: scale(1, 1);
  }

  .menu__link--uranus:hover.menu__li::before {
    background-color: #65F0D5;
    transform: scale(1, 1);
  }

  .menu__link--neptune:hover.menu__li::before {
    background-color: #497EFA;
    transform: scale(1, 1);
  }

  .menu__link--mercury.active {
    border-top: 5px solid #DEF4FC;
  }

  .menu__link--venus.active {
    border-top: 5px solid  #F7CC7F;
  }

  .menu__link--earth.active {
    border-top: 5px solid  #545BFE;
  }

  .menu__link--mars.active {
    border-top: 5px solid #FF6A45;
  }

  .menu__link--jupiter.active {
    border-top: 5px solid  #ECAD7A;
  }

  .menu__link--saturn.active {
    border-top: 5px solid  #FCCB6B;
  }

  .menu__link--uranus.active {
    border-top: 5px solid  #65F0D5;
  }

  .menu__link--neptune.active {
    border-top: 5px solid  #497EFA;
  }

}